@model IEnumerable<Finanzas.Models.Movimiento>

@{
    ViewData["Title"] = "Movimientos";
}

<h1>Lista de Movimientos</h1>

<p>
    <a asp-action="Create">Registrar Movimiento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tipo de Movimiento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.Type == 0)
                {
                    @("Pago")
                }
                else{
                    @("Compra")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @item.Cliente.DNI - @item.Cliente.Firstname @item.Cliente.Lastname
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
